
/*tablets and big phones*/
@media (min-width: 1200px) { 

.void-bg {
    background-image: url('./img/void-of-course-night.jpg');
    background-position: center center;
  }

  .grumbaum-zoomer {
    animation: grumbaumzoominout 400s infinite;
    transform-origin:center center;
  }
 
  .grumbaum-img {
    margin: 0 auto;
    position: static;
    display: block;
  }

  .void-zoomer {
    animation: voidzoominout 100s infinite;
  }

  .desktop {
    display: block;
  }

  .mobile {
    display: none;
  }
}

